.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
}

.navigation {
  @include flex-center;
  justify-content: space-between;
  padding: 3rem 0rem;

  &-name,
  &-link {
    @include link($white);
  }

  &-name {
    font-size: $font-large;
  }

  &-links {
    display: flex;

    & li {
      list-style: none;
    }

    & li:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &-hamburger {
    display: none;
  }
}

.heading-border {
  border: 2px solid $white;
  display: inline-block;
  padding: 1.5rem 6rem 1.5rem 1.5rem;
  margin: 8rem 0;

  &-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;

    & span {
      display: block;
    }
  }
}

@media (max-width: $tablet) {
  .navigation {
    &-name {
      font-size: $font-large;
    }

    &-links {
      display: none;
    }

    &-hamburger {
      display: block;
      cursor: pointer;
      min-width: 25px;
    }
  }
}

@media (max-width: $laptop) {
  .heading-border {
    max-width: 100%;

    &-text {
      font-size: 60px;
    }

    @media (max-width: $tablet) {
      &-text {
        font-size: 45px;
      }
    }

    @media (max-width: $mobile) {
      &-text {
        font-size: $font-large;
      }
    }
  }
}
