.header {
  background: url('/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  color: $white;
}

.navigation {
  @include container($desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;

  &-name,
  &-link {
    @include link;
  }

  &-name {
    font-size: $large-size;
  }

  &-links {
    display: flex;

    & li {
      list-style: none;
    }

    & li:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
