.leader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10rem auto;

  &-image {
    min-width: 60%;
    min-height: 100%;
  }

  &-text {
    max-width: 40%;
    display: flex;
    line-height: 1.5;
    padding: 10rem 0 0 6rem;
    max-height: 40%;
    margin-left: -150px;
    background-color: $white;
    z-index: 1;

    & h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 40px;
      text-transform: uppercase;
    }

    & p {
      color: $dark-gray;
    }
  }
}
